/* Main style sheet for Hub Page Website */
h1{
	font-family: 'Urbanist', sans-serif;
	color: rgb(255, 195, 0);
	padding-left: 40px;
	font-size: 65pt;
	margin-top: 25px;
	margin-bottom: 10px;
	margin-left: 20px;
	font-family: 'Unbounded', sans-serif;
}

html{
	/*background: palevioletred;*/
	background-image: linear-gradient(to bottom right, palevioletred, mediumvioletred);
	background-attachment: fixed;

	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
h3{
	font-family: 'Urbanist', sans-serif;
	color: rgb(88, 24, 69);
	margin-bottom: 35px;
	margin-left: 20px;
	margin-top: 0px;
	font-size: 30px;
	padding-left: 80px;
}
a#first{
	margin-left: 100px;
}
a{
	font-family: 'Unbounded', sans-serif;
	color: rgb(88, 24, 69);
	margin: 20px;
	margin-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 0px;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 20px;
	text-decoration: none;
	border: 3px solid peachpuff;
	border-radius: 5px;
	background-color: peachpuff;
}
div#yellowbox{
	display:block;
	color: rgb(255, 195, 0);
	background-color: rgb(255, 195, 0);
	margin: 0;
	padding: 0;
	padding-top: 0;
	width: 80px;
	height: 100%;
	position:absolute;
	top:0px;
}