/* box model fix */

html{
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/*****************************/

/* clearfix */

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

/***************************/

html{
	background-color: rgb(248, 242, 231, 1.0);
}

/* Adjusting the screen size to fit the window */
body{
	height: vh;
	width: wh;
}

/* Page Title */
h1{
	font-family: 'Young Serif', serif;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 0px;
	color: rgb(245, 130, 32, 1.0);
}

/* Nav Bar Text */
li{
	font-family: 'Young Serif', serif;
	color: white;
	display: inline-block;
	list-style: none;
	font-size: 1.3em;
	padding-left: 15px;
}

/* Links */
a {
	text-decoration: none;
	color:white;
}

/* Nav Bar Container */
.container-fluid#header {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 0;
	padding-right: 0;
	margin: 0 auto;
	background-color: rgb(245, 130, 32, 1.0);
}

/* Mixer Social Post Image */
img#mixer{
	height: 320px;
	width: 320px;
	float: left;
}

/* Body Copy */
p{
	font-family: 'Young Serif', serif;
	color: white;
	text-align: justify;
	display: inline-block;
}

/* Mixer Info Container */
div#box{
	background-color: rgb(241, 88, 34, 1.0);
	padding-top: 50px;
	padding-bottom: 190px;
	padding-left: 30px;
	margin: 10px;
	border-radius: 20px;
}

/* Footer */
div#footer{
	background-color: rgb(245, 130, 32, 1.0);
	padding: 90px;
	margin: 0px;
	height: vmax;
	border-radius: 20px;
}